table.ui.striped.table.small.full-width.celled
    div.ui.cards
        each goal, i in goals
            div.card
                div.content
                    div.meta= goal.goal_messurement_type[0].name
                    div.description= goal.goal
                div.extra.content
                    div.ui.basic.green.button