body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.dt-report {
  width: 100%;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dt-report {
  border:1px solid #000;
  border-collapse: collapse;
}

.dt-report td {
  padding: 10px;
}

td.big.dt-report {
  padding-bottom:100px;
}
